<section class="view">
  <div class="line"><span class="prompt">$</span> keybindings</div>
  <ul>
    <li><code>Super + Space</code> launcher</li>
    <li><code>Super + Alt + Space</code> leenium menu</li>
    <li><code>Super + K</code> keybindings picker</li>
    <li><code>Super + Q</code> close window</li>
    <li><code>Super + 1..0</code> workspace switch</li>
    <li><code>Print</code> screenshot</li>
    <li><code>Alt + Print</code> screen recording menu</li>
  </ul>
  <br>
  <p>Full generated list on installed system: <code>leenium-menu-keybindings --print</code></p>
</section>
