<section class="view">
  <div class="line"><span class="prompt">$</span> repos</div>
  <ul>
    <li><a href="https://github.com/leenium/leenium" target="_blank" rel="noopener noreferrer">github.com/leenium/leenium</a> - installer payload</li>
    <li><a href="https://github.com/leenium/iso" target="_blank" rel="noopener noreferrer">github.com/leenium/iso</a> - ISO builder</li>
    <li><a href="https://github.com/leenium/leenium/wiki" target="_blank" rel="noopener noreferrer">github.com/leenium/leenium/wiki</a> - docs/wiki</li>
    <li><a href="https://github.com/leenium" target="_blank" rel="noopener noreferrer">github.com/leenium</a> - organization</li>
  </ul>
</section>
